name: Test
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  unitTest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - run: npm ci || exit 1
      - run: npm run ci
